<!-- [A] static 파일을 사용하기전에 무엇을 적어주어야 했었죠? -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Travel Website</title>
  <meta charset="UTF-8"/>
  <!--<link rel="stylesheet" href="[B] 정적 파일 경로를 넣어주세요. (styles.css)">-->
  <link rel="stylesheet" href={% static 'cities/css/styles.css' %}>
</head>
<body>
    <!--<img id="logo" src="[C] 정적 파일 경로를 넣어주세요. (logo.png)" width="165" height="58">-->
    <img id="logo" src={% static 'cities/images/logo.png' %} width="165" height="58">
    
    <div id="menu">
      <a href="/cities/home">Home</a>
      <!--<a href="[D] 알맞은 URL을 넣어주세요.">Seoul</a>-->
      <a href="/cities/seoul/">Seoul</a>
      <!--<a href="[E] 알맞은 URL을 넣어주세요.">Tokyo</a>-->
      <a href="/cities/tokyo/">Tokyo</a>
      <!--<a href="[F] 알맞은 URL을 넣어주세요.">Paris</a>-->
      <a href="/cities/paris/">Paris</a>
    </div>
    
    <!--<img id="photo" src="[G] 정적 파일 경로를 넣어주세요. (index.png)" width="90%">-->
    <img id="photo" src={% static 'cities/images/index.png' %} width="90%">
</body>
</html>